@model CarSharingApp.Models.CarsViewModel
@{
    ViewData["Title"] = "Catalog";
}
<br />
<br />
<table id="car_catalog" class="cell-border">
    <thead>
        <tr>
            <th>№</th>
            <th>Автомобиль</th>
            <th>Цена аренды за минуту (р.)</th>
            <th>Статус</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 0;
            @foreach (var car in Model.Cars)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@car.CarName</td>
                    <td>@car.PricePerMinute</td>
                    @if (car.IsFree == true)
                    {
                        <td><img src="@Href("~/img/car_free.png")" /> @car.Status</td>
                    }
                    else
                    {
                        <td><img src="@Href("~/img/car_locked.png")" /> @car.Status</td>
                    }
                    <td style="text-align:center"><a href="javascript:showCarInfo(@car.Id);" style="color:black" class="car_card_btn"><img src="@Href("~/img/car_card_icon.png")" /> Перейти в карточку автомобиля</a></td>
                </tr>
            }
        }
    </tbody>
</table>


